h4 Business earned money #{@business_earned_money}
h4 Popug counts that got a minus #{@popug_counts_earned_nothing}
h4 Most high price for today #{@most_high_task_for_day.cost}
h4 Most high price for week #{@most_high_task_for_week.cost}
h4 Most high price for month #{@most_high_task_for_month.cost}
